
<div class="d-flex justify-content-between">
        <div>
            <h6>Danh sách ưa thích</h6> 
          </div>
        <div>
                <select (change)="changeStatus()" [formControl]="sttSl">
                        <option value="" disabled>Trạng thái</option>
                        <option value="0">Đang diễn ra</option>
                        <option value="1">Đã kết thúc</option>
                      </select>
                <select>
                        <option value="" disabled>Sắp xếp</option>
                        <option value="0">Mới nhất</option>
                        <option value="1">Cũ nhất</option>
                      </select>
        </div>
    </div>
    
    <div title="filterTab"></div>
    <div class="d-flex justify-content-center" *ngIf="isLoading">
        <div class="loadingio-spinner-ellipsis-tuvj25gkvfd"><div class="ldio-q0i7x6u90yo">
          <div></div><div></div><div></div><div></div><div></div>
          </div></div>
      </div>
    <div class="bg-white p-3 d-flex" *ngIf="!wishList.length"><span class="text-muted">Không có dữ liệu nào.</span></div>
    <div class="bg-white p-3 d-flex borderLine" *ngFor="let item of wishList">
        <!-- <div class="row" > -->
            <div class="imgBox searchImgBox">
                <a><img class="imgThumbnail" [src]="item.imgUrl && item.imgUrl[0]" alt="imgUrl"></a>
            </div>
            <div style="flex-grow: 1;" class="px-2">
                <div class="d-flex justify-content-between">
                    <div>
                        <h6><a class="text-body font-weight-bold" (click)="goToItemDetail(item)">{{item.title}}</a></h6>
                    </div>
                    <div>
                        <label class="colorS4 fontSmall">Kết thúc {{item.endTime| date: 'short'}}</label>
                    </div>
                </div>
                <div>
                    <span class="text-primary font-italic">của {{item.user?.name}}</span>
                </div>
                <div>
                    <span class="text-muted fontSmall">{{item.biddinglog ? item.biddinglog?.length : 0}} Bid</span>
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        <h6 class="colorS2">{{item.highestBid| currency : 'đ': 'code': '1.0-0' : 'vi'}} <span class=" small text-muted"> (Cao nhất)</span></h6>
                    </div>
                    <div>
                        <a (click)="clickRemoveWishList(item)">Xóa</a>
                    </div>
                </div>
                
                <!-- <hr class="my-2">
                <div class="d-flex justify-content-between">
                    <div>Đã Bid: {{item.amount| currency : 'đ': 'code': '1.0-0' : 'vi'}}</div>
                    <div>Vào lúc {{item.dateTime| date: 'short'}}</div>
                </div> -->
            </div>
        <!-- </div> -->
    </div>