<header>
    <div id="topHeader" class="mContainer d-flex align-items-stretch justify-content-between">
      <div id="leftInfoWpr" class="d-flex" *ngIf="userInfo.level !== 9">
        <div class="infoBarItem"> Khu vực</div>
        <div class="infoBarItem">
          <select class="rounded">
            <option value="">Hà Nội</option>
          </select>
        </div>
        <div class="infoBarItem text-danger">
            <span>|</span>
          </div>
        <div class="infoBarItem">
            <i class="material-icons">
                local_phone
                </i>
          Hỗ trợ khách hàng: 023.028.0028
        </div>
      </div>
      <div id="leftInfoWpr" class="d-flex" *ngIf="userInfo.level === 9">
        <div class="infoBarItem">
          <a [routerLink]="['/admin']">Trang Admin</a>
        </div>
      </div>
      <div id="rightInfoWpr" class="d-flex">
        <div class="infoBarItem">
          <a [routerLink]="['/sell']"><span class="badge badge-light"> Đăng bán</span></a>
        </div>
        <div class="infoBarItem text-light">
          <span>|</span>
        </div>
        <div class="infoBarItem" *ngIf="!isSignIn">
          <a data-toggle="modal" data-target="#signInModal">Đăng nhập</a>
        </div>
        <div class="infoBarItem" *ngIf="!isSignIn">
          <a data-toggle="modal" data-target="#regModal">Đăng ký</a>
        </div>
        <div class="infoBarItem" *ngIf="isSignIn">
          <a (click)="clickSignOut()">Đăng xuất</a>
        </div>
        <div class="infoBarItem" *ngIf="isSignIn">
          <div class="d-inline-block imgAvatar">
            <img class="imgThumbnail rounded-circle" src="../assets/fpo_avatar.png" alt="">
          </div>
          
          <a [routerLink]="['/profile']" class="colorS1">
            {{userInfo.username}}
          </a>
        </div>
      </div>
    </div>
    <div id="centerHeader" class="mContainer d-flex align-items-stretch">
      <div id="logoWrapper" class="">
        <a href="/">
          <img id="logo" src="../assets/logo_v2.png" alt="">
          <!-- <div id="logo2">BID</div> -->
        </a>
          
      </div>
      <div id="searchWapper" class="flex-grow-1 d-flex">
        <div id="searchBox" class="" style="width: 800px;">
          <!-- <div id="searhContainer">
              <input type="text" style="border:unset">
              <button type="button" style="">Tìm kiếm</button>
          </div> -->
          <div class="input-group mb-3">
              
                <div class="input-group-prepend">
                    <select class="rounded-left" id="homeSearchSelect" [formControl]="cateSl">
                        <option *ngFor="let item of categoriesSelect" [ngValue]="item" >{{item.name}}</option>
                      </select>
  
                </div>
            <input type="text" class="form-control" id="homeSearchIpt" [(ngModel)]="searchInput" placeholder="Bạn đang cần tìm gì...">
            <div class="input-group-prepend">
                <button class="btn btn-secondary" id="homeSearchBtn" type="button" (click)="clickSearch()">Tìm kiếm</button>
            </div>
          </div>
        </div>
        <div id="cartBox" class="flex-grow-1">
          <a title="Chờ thanh toán" [routerLink]="['/profile/notification']">
            <svg width="1em" height="1em" viewBox="0 0 24 24" class="iconCart_2ayd">
            <path fill-rule="evenodd"
              d="M8 18c-1.104 0-1.99.895-1.99 2 0 1.104.886 2 1.99 2a2 2 0 000-4m10 0c-1.104 0-1.99.895-1.99 2 0 1.104.886 2 1.99 2a2 2 0 000-4M4 2H1.999v1.999H4l3.598 7.588-1.353 2.451A2 2 0 008 17h12v-2H8.423a.249.249 0 01-.249-.25l.03-.121L9.102 13h7.449c.752 0 1.408-.415 1.75-1.029l3.574-6.489A1 1 0 0021 3.999H6.213l-.406-.854A1.997 1.997 0 004 2">
            </path>
          </svg>
          </a>
          <div class="cartQuantityBadge"><span class="badge badge-pill badge-primary">{{countPayingWait? countPayingWait: ''}}</span></div>
        </div>
      </div>
    </div>
    <div class="bottomHeader mContainer d-flex align-items-stretch">
      <div *ngFor="let item of categoriesMenu" [ngClass]="{'active': ActiveCategoryId === item.id}" class="headerMenuItem">
          <a (click)="goTo(item)">
            {{item.name}}
          </a>
        </div>
      </div>
    </header>
  
  <router-outlet></router-outlet>
  <div class="bottomHeader mContainer mt-5 d-flex align-items-stretch">
      <div *ngFor="let item of categoriesMenu" [ngClass]="{'active': item.isActive}" class="headerMenuItem">
          <a [routerLink]="['/items']" [queryParams]="{ categoryid: item.id, search: searchInput}">{{item.name}}</a>
        </div>
      </div>
  <footer class="mContainer mt-1 py-5 d-flex justify-content-between align-items-start colorS4">
    <div>
      <img src="../assets/logo_v2.png" alt="" width="204">
    </div>
    <div>
      <h6>HỖ TRỢ KHÁCH HÀNG</h6>
      <div>
        <div><label><a href="">Hướng dẫn đặt mua hàng</a></label></div>
        <div><label><a href="">Câu hỏi thường gặp</a></label></div>
        <div><label><a href="">Hình thức vận chuyển</a></label></div>
        <div><label><a href="">Thông tin liên hệ</a></label></div>
      </div>
    </div>
    <div>
      <h6>VỀ CHÚNG TÔI</h6>
      <div>
        <div><label><a href="">Giới thiệu VinaBID</a></label></div>
        <div><label><a href="">Chính sách khuyến mãi</a></label></div>
        <div><label><a href="">Điều khoản sử dụng</a></label></div>
        <div><label><a href="">Khác</a></label></div>
      </div>
    </div>
    <div>
      <h6>LIÊN KẾT</h6>
      <div>
        <div><label><a href="">Hợp tác kinh doanh</a></label></div>
        <div><label><a href="">Góp vốn đầu tư</a></label></div>
      </div>
    </div>
    <div>
      <h6>THANH TOÁN</h6>
      <div class="d-flex">
        <div class="imgBox mr-2" style="width: 50px">
          <img src="../../../assets/images.png" alt="" class="img-thumbnail">
        </div>
        <div class="imgBox" style="width: 50px">
          <img src="../../../assets/vinid-logo.png" alt="" class="img-thumbnail">
        </div>
      </div>
    </div>
  </footer>
  
  <app-login class="modal" tabindex="-1" role="dialog" id="signInModal"></app-login>
  <app-register class="modal" tabindex="-1" role="dialog" id="regModal"></app-register>
  