<div *ngIf="isSignedIn">
  <nav aria-label="breadcrumb" class="mContainer">
    <ol class="breadcrumb mb-0 bg-white">
      <li class="breadcrumb-item active"><a href="#"><i class="material-icons">
          home
          </i>Trang chủ</a></li>
      <li class="breadcrumb-item">Cá nhân</li>
    </ol>
  </nav>
<div id="mainContainer" class="mContainer bgColorS1 d-flex">
    
        <div class="p-3">
            <div>
                <h6>Cá nhân</h6> 
              </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-transparent">
              <a [routerLink]="['/profile']">Thông tin cá nhân</a>
            </li>
            <li class="list-group-item bg-transparent">
              <a [routerLink]="['/profile/notification']">Thông báo</a>
            </li>
            <li class="list-group-item bg-transparent">
              <a [routerLink]="['/profile/session']">Bài đăng của bạn</a>
            </li>
            <li class="list-group-item bg-transparent">
              <a [routerLink]="['/profile/bid-history']">Lịch sử bạn đã đấu giá</a>
            </li>
            <li class="list-group-item bg-transparent">
              <a [routerLink]="['/profile/wish-list']">Danh sách ưa thích</a>
            </li>
            
          </ul>
        </div>
        <div class="p-3" style="flex-grow: 1;">
            <router-outlet></router-outlet>
          
        </div>
      </div>
</div>
