<div class="mContainer mt-5">
  <h4>Đăng bán</h4>
  <form [formGroup]="sellForms" class="" novalidate>
    <div class="form-row">
      <div class="form-group col-6">
        <label for="exampleInputEmail1">Tiêu đề</label>
        <input type="text" class="form-control" formControlName="title" placeholder="Enter ...">
        <div class="invalid-feedback d-inline"
          *ngIf="sellForms.get('title').touched && sellForms.get('title').hasError('required')">
          Không được để trống
        </div>
        
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-6">
        <label for="exampleInputEmail1">Tải ảnh</label>
        <input type="file" class="form-control" #imgFile placeholder="Enter ..." multiple>
        <div class="invalid-feedback d-inline">
          Không được để trống
        </div>
      </div>
      
    </div>
    <div class="form-row">
      <div class="form-group col-6">
        <label for="exampleInputEmail1">Loại mặt hàng</label>
        <select class="custom-select" formControlName="categorySl">
          <option value="" disabled>Chọn loại mặt hàng</option>
          <option *ngFor="let item of categories" [ngValue]="item">{{item.name}}</option>
        </select>
        <div class="invalid-feedback d-inline"
          *ngIf="sellForms.get('categorySl').touched && sellForms.get('categorySl').hasError('required')">
          Không được để trống
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-6">
        <label for="exampleInputEmail1">Mô tả</label>
        <!-- <input type="text" class="form-control" formControlName="description" placeholder="Enter ..."> -->
        <textarea class="form-control" formControlName="description" rows="3" placeholder="Enter ..."></textarea>
        <div class="invalid-feedback d-inline"
          *ngIf="sellForms.get('description').touched && sellForms.get('description').hasError('required')">
          Không được để trống
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-6">
        <label for="exampleInputEmail1">Thời gian bắt đầu</label>
        <input type="datetime-local" class="form-control" formControlName="startTime" placeholder="Enter ...">
        <div class="invalid-feedback d-inline"
          *ngIf="sellForms.get('startTime').touched && sellForms.get('startTime').hasError('required')">
          Không được để trống
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-6">
        <label for="exampleInputEmail1">Thời gian kết thúc</label>
        <input type="datetime-local" class="form-control" formControlName="endTime" placeholder="Enter ...">
        <div class="invalid-feedback d-inline"
          *ngIf="sellForms.get('endTime').touched && sellForms.get('endTime').hasError('required')">
          Không được để trống
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-6">
        <label for="exampleInputEmail1">Giá khởi điểm</label>
        <input type="text" class="form-control" formControlName="startPrice" placeholder="Enter ...">
        <div class="invalid-feedback d-inline"
          *ngIf="sellForms.get('startPrice').touched && sellForms.get('startPrice').hasError('required')">
          Không được để trống
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-6">
        <label for="exampleInputEmail1">Khoảng cách giá tối thiểu</label>
        <input type="text" class="form-control" formControlName="minSpace" placeholder="Enter ...">
        <div class="invalid-feedback d-inline"
          *ngIf="sellForms.get('minSpace').touched && sellForms.get('minSpace').hasError('required')">
          Không được để trống
        </div>
      </div>
    </div>




    <!-- <div class="form-group col-6 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" class="btn btn-primary" (click)="submitSellForms(imgFile)">Submit</button>
  </form>
</div>