<div id="mainContainer" class="mContainer borderLine mt-5 d-flex">
        <div>
          <ul>
            <li>
              <a [routerLink]="['/profile']">thong tin ca nhan</a>
            </li>
            <li>
              <a [routerLink]="['/profile/bid-history']">Thông tin đấu giá</a>
            </li>
            <li>
              <a [routerLink]="['/profile/wish-list']">danh sach ưa thích</a>
            </li>
            
          </ul>
        </div>
        <div style="flex-grow: 1;">
            <router-outlet></router-outlet>
          
        </div>
      </div>