body {
    font-family: Helvetica;
    font-size: 14px;
    background-color: white;
}

img {
    /* max-width: 100%; */
    max-height: 100%;
}

.imgThumbnail {
    max-width: 100%;
    -webkit-border-radius: 0;
    border-radius: 0;
    /* padding: 0; */
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
    line-height: 1.42857;
    display: inline-block;
    vertical-align: middle;
}

a {
    cursor: pointer;
}

.borderLine div {
    border: 1px solid black;
}

footer {
    background-color: whitesmoke;
    height: 300px;
}

.bgColorS1 {
    background-color: #F5F5F5;
}
.bgColorWhite {
    background-color: #fff;
}
.colorS1 {
    color: #70747d;
}
.colorS2 {
    color: #9f1d25;
}
.colorS3 {
    color: #212C45;
}
.colorS4 {
    color: #aba5a5;
}
.colorStar {
    font-size: 14px;
}

.iconStar {
    color: #f39b3f;
}

.titleH1 {
    font-size: 21px;
    
    font-weight: 700;
}

.titleH2 {
    font-size: 17px;
    font-weight: 400;
}
.titleH3 {
    font-size: 14px;
    font-weight: 500;
}

.titleH4 {
    font-size: 12px;
    font-weight: 400;
}

.pFitContent {
    position: relative;
}
.cFitContent {
    position: absolute;
    top: 0;
    bottom: 0;
}

.mContainer {
    width: 100%;
    padding: 0 100px;
}

#topHeader {
    height: 36px;
    background-color: #ffc107;
    color: #847373;
    font-weight: 500;
    font-size: 12px;
}
.infoBarItem {
    /* font-size: 13px; */
    padding: 7px 10px;
}
#leftInfoWpr {

}
#rightInfoWpr {

}
#centerHeader {
    height: 73px;
    background-color: #ffffff;
    /* border-bottom: 1px solid #ced4da59; */
    background: linear-gradient(-180deg,#ff9c29,#fed700);
}
#bottomHeader {
    height: 27px;
    background-color: #ffffff;
    padding: 0 250px;
    border-bottom: 1px solid whitesmoke;
}
.headerMenuItem {
    
font-size: 12px;
    
padding: 5px 10px;
    
color: #70747d;
    
margin-right: 13px;
    
font-weight: 500;
    
position: relative;
    
font-family: Arial;
}
.headerMenuItem.active {
    font-weight: 700;
}
.headerMenuItem.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 11px;
    z-index: 5;
    pointer-events: none;
    background-color: #212c45;
    width: calc(100% - 20px);
    height: 2px;
}
.headerMenuItem a {
    color:inherit
}
#logoWrapper {
    padding: 15px 10px;
    flex-basis: 150px;
    position: relative;
}
#logo {
    width: 108px;
}
#logo2 {
    
position: absolute;
    
top: 12px;
    
left: 78px;
    
font-family: "Jua";
    
font-size: 35px;
    
color: rgb(33,44,69);
}
#searchWapper {

}
#searchBox {
    padding: 15px 10px;
}
#homeSearchIpt {
    border: 2px solid #dc871a;
}
#homeSearchSelect {
    border: 2px solid #dc871a;
    width: 90px;
}
#homeSearchBtn {
    background-color: #ffa523;
    border-color: #ffffff;
    border: 0px solid white;
}

#searhContainer {
    border-radius: 3px;
    background-color: white;
}
#cartBox {
    padding: 5px 0;
}
.iconCart_2ayd {
    width: 2.3rem;
    height: 3.3rem;
    fill: #212c45;
    float: right;
}
#homeBanner {
    height: 328px;
    background-color: whitesmoke;
}
#categoriesSideBar {
    flex-basis: 215px;
    min-width: 215px;
}
#bannerWrapper {
    overflow: hidden;
}
#bannerWrapper img{
    width: 100%;
    max-height: initial;
}
#mainContainer {

}
.listViewWrapper {

margin-top: 50px;
}
.titleBox {

padding: 15px 0;

/* text-transform: uppercase; */

/* font-size: 16px; */
}
.titleFirst {
    
font-size: 21px;
    
font-weight: 700;
    
color: aliceblue;
}
.titleSecond {

color: #9f1d25;
}
.listBox {

}
.listBoxItem {
    width: 20%;
    padding: 10px;
    /* border: 1px solid #bfbfbf; */
}

.homeImgBox {
    height: 250px;
    /* padding: 2px; */
    border: 1px solid #e4e4e4;
    /* border-radius: 3px; */
    background: #151515;
}
.imgBox {
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.imgBox::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.searchImgBox {
    width: 15%;
    height: 100px;
    /* padding: 2px; */
    border: 1px solid #e4e4e4;
    /* border-radius: 3px; */
    background: #151515;
}
.imgAvatar {
    width: 1rem;
    height: 1rem;
    /* overflow: hidden; */
    /* border-radius: 6px; */
}
.card-channels-content {
    height: 61px;
    margin-top: 20px;
}
.card-channels-length-4 {
    width: 23.2%;
}
.card-channels-item {
    height: 61px;
    background: #e9ecef;
    margin-right: 12px;
    border-radius: 20px;
}
.align-left {
    float: left;
}
.card-channels-img-wrap {
    width: 60px;
    height: 60px;
    margin: 4px;
}

.card-channels-img-wrap .image {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.material-icons {
    font-size: inherit;
}
