<div id="mainContainer" class="itemDetail mContainer borderLine " *ngIf="isLoadedData">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 bg-white">
              <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
              <li class="breadcrumb-item active">Mặt hàng</li>
            </ol>
          </nav>
          <div class="d-flex flex-column p-3 colorS4" *ngIf="!showContainer">
            <div class="flexItem align-self-center display-1">
              <i class="material-icons">
              sentiment_very_dissatisfied
              </i>
            </div>
            <div class="flexItem align-self-center">
              Mặt hàng hiện tại không tìm thấy.
            </div>
            
          </div>
          <div class="d-flex" *ngIf="showContainer">
            <div class="flexItem px-3" style="width: 300px">
              <div class="imgBox carouselThumbBox">
                <img class="imgThumbnail" [src]="currentImgUrl" alt="imgTitle">
              </div>
              <div class="d-flex flex-wrap mt-3">
                <div class="flexItem-3" *ngFor="let img of itemDetail.imgUrl" (click)="currentImgUrl = img">
                  <div class="imgBox carouselItemThumbBox">
                    <a><img class="imgThumbnail" [src]="img" alt=""></a>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="flexRestItem d-flex">
              <div class="flexItem-9 p-2">
                <div>
                  <div>
                    <h5><a class="text-body">{{itemDetail.title}}</a></h5>
                  </div>
                  <div>
                    của <span class="text-primary"><a>{{itemDetail?.user?.name}}</a></span>
                  </div>
          
          
                </div>
                <div class="d-flex">
                  <div class="mr-0">
                    <i class="material-icons colorStar ico  nStar">star</i>
                    <i class="material-icons colorStar">star</i>
                    <i class="material-icons colorStar">star</i>
                    <i class="material-icons colorStar">star</i>
                    <i class="material-icons colorStar">star</i>
                  </div>
                  <div class="mr-2">
                    <span class="text-muted">({{itemDetail.review && itemDetail.review.length? itemDetail.review.length: 0}})</span>
                  </div>
                  <div class="mr-2">
                    <span class="text-warning">{{itemDetail.review && itemDetail.review.length? itemDetail.review.length: 0}} bình luận</span>
                  </div>
                </div>
                <hr>
                <div>
                  <h4 class="colorS2 font-weight-bold">
                    {{itemDetail.highestBid| currency : 'đ': 'code': '1.0-0' : 'vi'}}
                   
                  </h4>
                </div>
                <div class="d-flex">
                  <div>
                    <label class="colorS4" *ngIf="!cDownDate">Phiên đấu giá đã kết thúc</label>
                    <label class="colorS4" *ngIf="cDownDate">Thời gian còn lại {{cDownDate}}</label>
                  </div>
                </div>
                <div>
                    <span class="text-muted small"> ({{(itemDetail.minSpace + itemDetail.highestBid) | currency : 'đ': 'code': '1.0-0' : 'vi'}} - Giá tối thiểu tiếp theo)</span>

                </div>
                <div *ngIf="cDownDate && userInfo && userInfo.username !== itemDetail.sellerId">
                  <div class="form-inline">
                    <div class="form-group">
                      <label for="" class="sr-only">Bidding Input</label>
                      <input type="text" class="form-control mr-2 d-inline" [formControl]="BidAmount">
                    </div>
                    <button type="button" class="btn btn-warning mr-2" (click)="payBid()">Đấu giá</button>
                    <button type="button" class="btn btn-light" (click)="clickAddToWishList()">
                        <i class="material-icons">
                            add
                            </i>
                      Ưa thích
                    </button>
                  </div>
                  <div class="invalid-feedback d-block" *ngIf="BidAmount.touched && BidAmount.hasError('required')">
                    Không được để trống 
                  </div>
                  <div class="invalid-feedback d-block" *ngIf="BidAmount.touched && BidAmount.hasError('pattern')">
                    Nhập chữ số
                  </div>
                </div>
                <div>
                  <a data-toggle="modal" data-target="#bidList">
                    <span class="text-primary">[Danh sách đấu giá] </span>
                    <span class="text-muted">[{{itemDetail?.biddinglog?.length ? itemDetail?.biddinglog?.length : 0}}]</span>
                  </a>
                </div>
                <hr>
                <div>
                  <p class="preLine" *ngIf="itemDetail.description">{{itemDetail.description}}</p>
                  <p class="text-muted" *ngIf="!itemDetail.description">Không có mô tả nào.</p>
                </div>
              </div>
              <div class="flexItem-3">
                  <div class="bg-light border-0 card customCard mb-2">
                      <div class="card-body">
                        <h6 class="card-title">Thông tin người đăng</h6>
                        <label class="card-subtitle mb-2 text-primary">
                          <a class="text-primary">
                              <div class="d-inline-block imgAvatar">
                                  <img class="imgThumbnail rounded-circle" src="../assets/fpo_avatar.png" alt="">
                                </div>
                            {{itemDetail?.user?.name}}
                          </a>
                        </label>
                        <p class="card-text text-muted">Chuyên đồ điện tử chất lượng khỏi bàn, mại zô mại zô</p>
                        <a class="card-link"  [routerLink]="['/users/' + itemDetail?.user?._id]">Trang cá nhân</a><br>
                        <a class="card-link" [routerLink]="['/users/' + itemDetail?.user?._id]">Liên hệ</a>
                      </div>
                    </div>
                <div class="card customCard border-0">
                  <div class="card-body">
                    <h6 class="card-title">Giao hàng</h6>
                    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                    <div>
                      <div class="form-group">
                        <label for="formGroupExampleInput">Công ty vận chuyển</label>
                        <select class="custom-select" [formControl]="shippingItem">
                          <option selected disabled>Lựa chọn</option>
                          <option [ngValue]="item" *ngFor="let item of ShippingSelection">{{item.name}}</option>
                        </select>
                      </div>
                    </div>
                    <p class="card-text">Phí giao hàng: {{shippingItem.value.value| currency : 'đ': 'code': '1.0-0' : 'vi'}}</p>
                    <hr class="m-0">
                  </div>
                  <div class="card-body">
                    <h6 class="card-title">Vận chuyển</h6>
                    <p class="card-text">Nội thành trong vòng từ <span class="text-muted">1 - 2 ngày</span></p>
                    <p class="card-text">Ngoại thành trong vòng <span class="text-muted">3 - 5 ngày</span></p>
                  </div>
                </div>
                
              </div>
            </div>
          </div>

          <!-- Modal -->
<div class="modal fade" id="comfirmBidModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thủ tục thanh toán</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="payForms" class="" novalidate>
          <div class="form-group">
            <!-- <label for="exampleInputEmail1">Tên đăng nhập</label> -->
            <input type="text" class="form-control" formControlName="address" placeholder="Địa chỉ">
            <div class="invalid-feedback d-inline"
              *ngIf="payForms.get('address').touched && payForms.get('address').hasError('required')">
              Không được để trống
            </div>
          </div>
          <div class="form-group">
            <!-- <label for="exampleInputEmail1">Tên đăng nhập</label> -->
            <input type="text" class="form-control" formControlName="phone" placeholder="Số điện thoại">
            <div class="invalid-feedback d-inline"
              *ngIf="payForms.get('phone').touched && payForms.get('phone').hasError('required')">
              Không được để trống
            </div>
          </div>
          <div class="form-group">
            <!-- <label for="exampleInputEmail1">Tên đăng nhập</label> -->
            <input type="text" class="form-control" formControlName="promoCode" placeholder="Mã giảm giá">
            <!-- <div class="invalid-feedback d-inline" *ngIf="payForms.get('promoCode').touched && payForms.get('promoCode').hasError('required')">
                                Không được để trống 
                              </div> -->
          </div>
          <div class="invalid-feedback d-inline" *ngIf="!isResolvePay">
            Lỗi khi tiến hành thanh toán
          </div>
          <hr>
          <div class="d-flex flex-row-reverse">
            <div class="d-table">
              <div class="d-table-row">
                <div class="d-table-cell">Số tiền</div>
                <div class="d-table-cell">{{BidAmount}}</div>
              </div>
              <div class="d-table-row">
                <div class="d-table-cell">Phí ship</div>
                <div class="d-table-cell">20000</div>
              </div>
              <div class="d-table-row">
                <div class="d-table-cell">Tổng tiền</div>
                <div class="d-table-cell">{{BidAmount.value ? BidAmount.value + 20000: 0}}</div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" (click)="payBid()">Thanh toán</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="bidList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Danh sách đấu giá</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Số tiền</th>
              <th scope="col">Thời gian</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of itemDetail.biddinglog;index as id">
              <th scope="row">{{id + 1}}</th>
              <td>{{item.bidamount}}</td>
              <td>{{item.biddate | date : 'short'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
    </div>