<main>
        <div id="homeBanner" class="d-flex align-items-stretch">
          <!-- <div id="categoriesSideBar" class="" style="">
              <ul class="list-group">
                <li class="list-group-item"><a href="">danh muc 1</a> </li>
                <li class="list-group-item"><a href="">danh muc 2</a> </li>
                <li class="list-group-item"><a href="">danh muc 3</a> </li>
                <li class="list-group-item"><a href="">danh muc 4</a> </li>
                <li class="list-group-item"><a href="">danh muc 5</a> </li>
                <li class="list-group-item"><a href="">danh muc 6</a> </li>
              </ul>
            </div> -->
            <div id="bannerWrapper"  class="flex-grow-1">
              <img src="../assets/vinmarthome.jpg" alt="banner">
            </div>
          
        </div>
        <div id="mainContainer" class="mContainer">
          <div class="hp-mod-card-content card-channels-content">
          
          
            <div data-color="#ce0909"
              class="card-channels-item hp-mod-card-hover J_ChannelsItem align-left card-channels-length-4">
              <a href="//pages.lazada.vn/wow/i/vn/LandingPage/lazmall?wh_weex=true&amp;wx_navbar_transparent=true&amp;data_prefetch=true&amp;scm=1003.4.icms-zebra-5000379-2586391.OTHER_5979073296_4798943"
                class="card-channels-link J_ChannelsLink">
                <div class="card-channels-icon align-left">
                  <div class="card-channels-img-wrap">
                    <img class="image" src="//laz-img-cdn.alicdn.com/images/ims-web/TB1CkdwhRr0gK0jSZFnXXbRRXXa.png"
                      alt="LazMall">
                  </div>
                </div>
                <div class="card-channels-name inline align-left one-line  ">
                  <div class="text-wrap text-top">Đăng bán mới nhất</div>
                  <div class="text-wrap text-bottom"></div>
                </div>
                <div class="card-channels-symbol inline align-right">
                  <i class="lazada-icon lazada-ic-IOS-Next-copy"></i>
                </div>
              </a>
            </div>
          
          
            <div data-color="#f5a623"
              class="card-channels-item hp-mod-card-hover J_ChannelsItem align-left card-channels-length-4">
              <a href="//www.lazada.vn/voucher/?hybrid=1&amp;scm=1003.4.icms-zebra-5000379-2586391.OTHER_5979073299_4798943"
                class="card-channels-link J_ChannelsLink">
                <div class="card-channels-icon align-left">
                  <div class="card-channels-img-wrap">
                    <img class="image" src="//laz-img-cdn.alicdn.com/images/ims-web/TB1UiNthUT1gK0jSZFhXXaAtVXa.png"
                      alt="Vouchers">
                  </div>
                </div>
                <div class="card-channels-name inline align-left   ">
                  <div class="text-wrap text-top"></div>
                  <div class="text-wrap text-bottom">Mặt hàng nổi bật</div>
                </div>
                <div class="card-channels-symbol inline align-right">
                  <i class="lazada-icon lazada-ic-IOS-Next-copy"></i>
                </div>
              </a>
            </div>
          
          
            <div data-color="#50e3e0"
              class="card-channels-item hp-mod-card-hover J_ChannelsItem align-left card-channels-length-4">
              <a href="//www.lazada.vn/pages/i/vn/digitalgoods/voucher-dich-vu?scm=1003.4.icms-zebra-5000379-2586391.OTHER_5979073301_4798943"
                class="card-channels-link J_ChannelsLink">
                <div class="card-channels-icon align-left">
                  <div class="card-channels-img-wrap">
                    <img class="image" src="//laz-img-cdn.alicdn.com/images/ims-web/TB1DahvhO_1gK0jSZFqXXcpaXXa.png" alt="Top-Up">
                  </div>
                </div>
                <div class="card-channels-name inline align-left   ">
                  <div class="text-wrap text-top">Tư vấn</div>
                  <div class="text-wrap text-bottom">&amp; Chăm sóc khách hàng</div>
                </div>
                <div class="card-channels-symbol inline align-right">
                  <i class="lazada-icon lazada-ic-IOS-Next-copy"></i>
                </div>
              </a>
            </div>
          
          
            <div data-color="#9e09fa"
              class="card-channels-item hp-mod-card-hover J_ChannelsItem align-left card-channels-length-4">
              <a href="//pages.lazada.vn/wow/i/vn/LandingPage/global-v2?wh_weex=true&amp;wx_navbar_transparent=true&amp;scm=1003.4.icms-zebra-5000379-2586391.OTHER_5979073302_4798943"
                class="card-channels-link J_ChannelsLink">
                <div class="card-channels-icon align-left">
                  <div class="card-channels-img-wrap">
                    <img class="image" src="//laz-img-cdn.alicdn.com/images/ims-web/TB1A6FthUT1gK0jSZFhXXaAtVXa.png"
                      alt="Global Collection">
                  </div>
                </div>
                <div class="card-channels-name inline align-left   ">
                  <div class="text-wrap text-top">Hàng</div>
                  <div class="text-wrap text-bottom">Quốc Tế</div>
                </div>
                <div class="card-channels-symbol inline align-right">
                  <i class="lazada-icon lazada-ic-IOS-Next-copy"></i>
                </div>
              </a>
            </div>
          
          </div>
          <div class="listViewWrapper">
            <div class="titleBox">
              <span class="titleH1">Mới nhất </span>
              <span class="titleH1">|</span>
              <a href="#" class="colorS2"> Xem tất cả &rarr;</a>
            </div>
            <div class="listBox d-flex">
              <div class="listBoxItem">
                <div class="imgBox"> 
                  <img src="https://cdn.chotot.com/4EG39RJynWg4WFctZJvbZA2b7lMk5As8p_WvA5uDnKU/preset:view/plain/ab5ab671a3d114e1baf11900cbd38b00-2641093925735742008.jpg" alt="postImg">
                </div>
                <div class="mt-2">
                  <a href="#" class="titleH3">Apple iPhone 7 plus vàng,bản QT,Ko camera sau+MVT</a>
                </div>
                <div class="">
                  <span class="titleH3 colorS2">1.000.000đ</span>
                </div>
                <div class="">
                  <span class="titleH4 colorS4">10/2/2019</span>
                </div>
                <div class="d-flex">
                  <div>
                    <i class="material-icons colorStar iconStar">star</i>
                    <i class="material-icons colorStar">star</i>
                    <i class="material-icons colorStar">star</i>
                    <i class="material-icons colorStar">star</i>
                    <i class="material-icons colorStar">star</i>
                  </div>
                  <div></div>
                </div>
              </div>
              <div class="listBoxItem">listBoxItem</div>
              <div class="listBoxItem">listBoxItem</div>
              <div class="listBoxItem">listBoxItem</div>
              <div class="listBoxItem">listBoxItem</div>
            </div>
          </div>
          <div class="listViewWrapper">
            <div class="titleBox">
              <span class="titleH1">Phổ biến </span>
              <span class="titleH1">|</span>
              <a href="#" class="colorS2"> Xem tất cả &rarr;</a>
            </div>
            <div class="listBox d-flex">
              <div class="listBoxItem">
                <div class="imgBox"> 
                  <img src="https://cdn.chotot.com/4EG39RJynWg4WFctZJvbZA2b7lMk5As8p_WvA5uDnKU/preset:view/plain/ab5ab671a3d114e1baf11900cbd38b00-2641093925735742008.jpg" alt="postImg">
                </div>
                <div class="mt-2">
                  <a href="#" class="titleH3">Apple iPhone 7 plus vàng,bản QT,Ko camera sau+MVT</a>
                </div>
                <div class="">
                  <span class="titleH3 colorS2">1.000.000đ</span>
                </div>
                <div class="">
                  <span class="titleH4 colorS4">10/2/2019</span>
                </div>
                <div class="d-flex">
                  <div>
                    <i class="material-icons colorStar iconStar">star</i>
                    <i class="material-icons colorStar">star</i>
                    <i class="material-icons colorStar">star</i>
                    <i class="material-icons colorStar">star</i>
                    <i class="material-icons colorStar">star</i>
                  </div>
                  <div></div>
                </div>
              </div>
              <div class="listBoxItem">listBoxItem</div>
              <div class="listBoxItem">listBoxItem</div>
              <div class="listBoxItem">listBoxItem</div>
              <div class="listBoxItem">listBoxItem</div>
            </div>
          </div>
        </div>
        
        
      </main>