<div>Thông tin tài khoản</div>
<div>
        <form [formGroup]="editProfileForms" class="" novalidate>
            <div class="form-group row">
                  <label for="staticEmail" class="col-sm-2 col-form-label">Tên đăng nhập</label>
                  <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" formControlName="username" placeholder="Enter ...">
                        <div class="invalid-feedback d-inline" *ngIf="editProfileForms.get('username').touched && editProfileForms.get('username').hasError('required')">
                          Không được để trống 
                        </div>
                  </div>
                </div>
                <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">Tên hiển thị</label>
                        <div class="col-sm-10">
                                <input type="text" class="form-control" formControlName="name" placeholder="Enter ...">
                          </div>
                      </div>
                      <div class="form-group row">
                  <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" formControlName="email" placeholder="Enter ...">
                  </div>
                </div>
                
                
                <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" formControlName="checkChangePw">
                        <label class="form-check-label" for="exampleCheck1">Đổi mật khẩu</label>
                      </div>
                      <div *ngIf="editProfileForms.get('checkChangePw').value">
<div class="form-group row">
                  <label for="inputPassword" class="col-sm-2 col-form-label">Mật khẩu cũ</label>
                  <div class="col-sm-10">
                        <input type="text" class="form-control" formControlName="oldPassword" placeholder="Enter ...">
                        <div class="invalid-feedback d-inline" *ngIf="editProfileForms.get('oldPassword').touched && editProfileForms.get('oldPassword').hasError('required')">
                          Không được để trống 
                        </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-2 col-form-label">Mật khẩu mới</label>
                  <div class="col-sm-10">
                        <input type="text" class="form-control" formControlName="newPassword" placeholder="Enter ...">
                        <div class="invalid-feedback d-inline" *ngIf="editProfileForms.get('newPassword').touched && editProfileForms.get('newPassword').hasError('required')">
                          Không được để trống 
                        </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-2 col-form-label">Nhập lại mật khẩu</label>
                  <div class="col-sm-10">
                        <input type="text" class="form-control" formControlName="reEnterPassword" placeholder="Enter ...">
                        <div class="invalid-feedback d-inline" *ngIf="editProfileForms.get('reEnterPassword').touched && editProfileForms.get('reEnterPassword').hasError('required')">
                          Không được để trống 
                        </div>
                  </div>
                </div>
                      </div>
                      <button type="submit" class="btn btn-primary" (click)="submitForms()">Cập nhật</button>
              </form>
</div>